.App {
  text-align: center;
}

.loginForm {
    position: absolute;
    width: auto;
    right: 5px;
    top: 10px;
}

.loginForm > input, .loginForm > button {
    width: 100px;
}

.companyName {
    position: absolute;
    left: 20px;
    font-size: 2em;
}

.signup {
    position: absolute;
    right: 5px;
    top: 78px;
}

Header {
    display: block;
    position:static;
    border: 2px black solid;
    height: 100px;
}

.NavBar {
    border: 2px black solid;
}

.NavBar .nav {
    position: relative;
    text-decoration: none;
    color: darkorange;
}   

.currentNav {
    color: blue;
    text-decoration: underline solid 3px blue;
}

.articleHomepage {
    position: relative;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    height: 120px;
    box-sizing: border-box;
    box-shadow: -5px 5px 10px gray;
    z-index: 0;
    background-color: lightcyan;
}

.homePage ul {
    margin: 10px;
    padding: 0px;
}

.articleVotesForm {
    width: 60px;
    height: 120px;
    position:inherit;
    left: 275px; 
    margin: 0px;
    box-sizing: border-box;
    bottom: 5px;
    z-index: 1;
}

.articleVotesForm input {
    background-color: transparent;
    border: transparent;
    font-size: 2rem;
    margin: 4px 0px 8px 0px;
    padding: 0px;
    cursor: pointer;
}

.articleVotesForm h3 {
    padding: 0px;
    margin: 0px;
}

.articleTitle {
    position: absolute;
    margin: 0px 0px 0px 5px;
    top: 0px;
    left: 0px;
    text-align: left;
    width: 270px;
    height: auto;
}

.articleTitle > h3 {
    font-size:1rem;
    padding: 0px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.articleTitle > p {
    font-size: 0.8rem;
    margin: 2px 1px;
}

.articleInfo {
    position: absolute;
    width: 270px;
    margin: 2px 0px;
    padding: 0px;
    height: auto;
    bottom: 0px;
}

.articleInfo > p {
    font-size: 0.8rem;
    margin: 0px;
}

.userAvatar {
    width: 300px;
    height: 300px;
}