.App {
  text-align: center;
}

.loginForm {
    position: absolute;
    width: auto;
    right: 5px;
    top: 10px;
}

.loginForm > input, .loginForm > button {
    width: 100px;
}

.companyName {
    position: absolute;
    left: 20px;
    font-size: 2em;
}

.signup {
    position: absolute;
    right: 5px;
    top: 78px;
}

Header {
    display: block;
    position:static;
    border: 2px black solid;
    height: 100px;
}